#game {
    
    width: 100%;
    color: white;
    background-color: #00BCD4;
    text-align: center;
    
    canvas {
        
        border: 1px solid white;
        background-color: white;
        
    }
    
    padding-top: 40px;
    padding-bottom: 100px;
    
}

#about {
    
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    
    ul {
        
        margin: 0 auto;
        max-width: 800px;
        list-style: none;
        
    }
    
    li {
        
        text-align: center;
        
    }
    
    i {
        
        font-size: 5rem;
        
    }
    
}

#credit {
    
    color: white;
    background-color: #37474F;
    padding-top: 50px;
    padding-bottom: 50px;
    
}