#game {
  width: 100%;
  color: white;
  background-color: #00BCD4;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 100px; }
  #game canvas {
    border: 1px solid white;
    background-color: white; }

#about {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  #about ul {
    margin: 0 auto;
    max-width: 800px;
    list-style: none; }
  #about li {
    text-align: center; }
  #about i {
    font-size: 5rem; }

#credit {
  color: white;
  background-color: #37474F;
  padding-top: 50px;
  padding-bottom: 50px; }
